<div class="main-contentx">
  <h3>Kasko parkų draudimas</h3>
  <div class="card right">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button
        label="Naujas parko dok."
        icon="pi pi-plus"
        iconPos="left"
        (click)="page = 'new-fleet';"
        styleClass="p-button-secondary p-mb-2 p-mr-2 btn"
      ></p-button>
      <p-button
        label="Atidaryti"
        icon="pi pi-folder-open"
        iconPos="left"
        (click)="page = 'open-fleet';"
        styleClass="p-button-secondary p-mb-2 p-mr-2 btn"
      ></p-button>
    </div>  
  </p-toolbar>
</div>

<div *ngIf="page == 'fleet'">
  <app-fleet-info></app-fleet-info>
</div>
  
<div *ngIf="page == 'open-fleet'">
  <app-open-fleet></app-open-fleet>
  </div>

  <div *ngIf="page == 'new-fleet'">
    <app-new-fleet></app-new-fleet>
  </div>

</div>
